# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
lib/config/results.json
lib/json_models/analysis_report_model2/abusix.dart
lib/json_models/analysis_report_model2/acronis.dart
lib/json_models/analysis_report_model2/adminus_labs.dart
lib/json_models/analysis_report_model2/ai_labs_monitorapp.dart
lib/json_models/analysis_report_model2/ai_pre_crime.dart
lib/json_models/analysis_report_model2/ai.dart
lib/json_models/analysis_report_model2/alien_vault.dart
lib/json_models/analysis_report_model2/alpha_soc.dart
lib/json_models/analysis_report_model2/analysis_report_model2.dart
lib/json_models/analysis_report_model2/antiy_avl.dart
lib/json_models/analysis_report_model2/arc_sight_threat_intelligence.dart
lib/json_models/analysis_report_model2/artists_against419.dart
lib/json_models/analysis_report_model2/attributes.dart
lib/json_models/analysis_report_model2/auto_shun.dart
lib/json_models/analysis_report_model2/axur.dart
lib/json_models/analysis_report_model2/bit_defender.dart
lib/json_models/analysis_report_model2/bkav.dart
lib/json_models/analysis_report_model2/block_list.dart
lib/json_models/analysis_report_model2/blueliv.dart
lib/json_models/analysis_report_model2/cc.dart
lib/json_models/analysis_report_model2/certego.dart
lib/json_models/analysis_report_model2/chong_lua_dao.dart
lib/json_models/analysis_report_model2/cins_army.dart
lib/json_models/analysis_report_model2/cluster25.dart
lib/json_models/analysis_report_model2/cmc_threat_intelligence.dart
lib/json_models/analysis_report_model2/com_url_checker.dart
lib/json_models/analysis_report_model2/crdf.dart
lib/json_models/analysis_report_model2/criminal_ip.dart
lib/json_models/analysis_report_model2/csis_security_group.dart
lib/json_models/analysis_report_model2/cy_radar.dart
lib/json_models/analysis_report_model2/cyan.dart
lib/json_models/analysis_report_model2/cyble.dart
lib/json_models/analysis_report_model2/data.dart
lib/json_models/analysis_report_model2/dns8.dart
lib/json_models/analysis_report_model2/emerging_threats.dart
lib/json_models/analysis_report_model2/emsisoft.dart
lib/json_models/analysis_report_model2/ermes.dart
lib/json_models/analysis_report_model2/es_tsecurity.dart
lib/json_models/analysis_report_model2/eset.dart
lib/json_models/analysis_report_model2/feodo_tracker.dart
lib/json_models/analysis_report_model2/forcepoint_threat_seeker.dart
lib/json_models/analysis_report_model2/fortinet.dart
lib/json_models/analysis_report_model2/g_data.dart
lib/json_models/analysis_report_model2/gcp_abuse_intelligence.dart
lib/json_models/analysis_report_model2/google_safebrowsing.dart
lib/json_models/analysis_report_model2/green_snow.dart
lib/json_models/analysis_report_model2/gridinsoft.dart
lib/json_models/analysis_report_model2/heimdal_security.dart
lib/json_models/analysis_report_model2/i_psum.dart
lib/json_models/analysis_report_model2/io_intelligence.dart
lib/json_models/analysis_report_model2/juniper_networks.dart
lib/json_models/analysis_report_model2/kaspersky.dart
lib/json_models/analysis_report_model2/links.dart
lib/json_models/analysis_report_model2/lionic.dart
lib/json_models/analysis_report_model2/lumu.dart
lib/json_models/analysis_report_model2/malware_patrol.dart
lib/json_models/analysis_report_model2/malware_url.dart
lib/json_models/analysis_report_model2/malwared.dart
lib/json_models/analysis_report_model2/me.dart
lib/json_models/analysis_report_model2/meta.dart
lib/json_models/analysis_report_model2/netcraft.dart
lib/json_models/analysis_report_model2/open_phish.dart
lib/json_models/analysis_report_model2/org.dart
lib/json_models/analysis_report_model2/phish_fort.dart
lib/json_models/analysis_report_model2/phish_labs.dart
lib/json_models/analysis_report_model2/phishing_database.dart
lib/json_models/analysis_report_model2/phishtank.dart
lib/json_models/analysis_report_model2/prebytes.dart
lib/json_models/analysis_report_model2/precision_sec.dart
lib/json_models/analysis_report_model2/quick_heal.dart
lib/json_models/analysis_report_model2/quttera.dart
lib/json_models/analysis_report_model2/results.dart
lib/json_models/analysis_report_model2/rising.dart
lib/json_models/analysis_report_model2/safe_to_open.dart
lib/json_models/analysis_report_model2/sangfor.dart
lib/json_models/analysis_report_model2/sansec_e_comscan.dart
lib/json_models/analysis_report_model2/scantitan.dart
lib/json_models/analysis_report_model2/seclookup.dart
lib/json_models/analysis_report_model2/securolytics.dart
lib/json_models/analysis_report_model2/snort_ip_sample_list.dart
lib/json_models/analysis_report_model2/soc_radar.dart
lib/json_models/analysis_report_model2/sophos.dart
lib/json_models/analysis_report_model2/spam404.dart
lib/json_models/analysis_report_model2/stats.dart
lib/json_models/analysis_report_model2/stop_forum_spam.dart
lib/json_models/analysis_report_model2/sucuri_site_check.dart
lib/json_models/analysis_report_model2/threat_hive.dart
lib/json_models/analysis_report_model2/threatsourcing.dart
lib/json_models/analysis_report_model2/trustwave.dart
lib/json_models/analysis_report_model2/underworld.dart
lib/json_models/analysis_report_model2/ur_lhaus.dart
lib/json_models/analysis_report_model2/url_info.dart
lib/json_models/analysis_report_model2/url_query.dart
lib/json_models/analysis_report_model2/viettel_threat_intelligence.dart
lib/json_models/analysis_report_model2/vipre.dart
lib/json_models/analysis_report_model2/viri_back.dart
lib/json_models/analysis_report_model2/vx_vault.dart
lib/json_models/analysis_report_model2/web.dart
lib/json_models/analysis_report_model2/webroot.dart
lib/json_models/analysis_report_model2/xcitium_verdict_cloud.dart
lib/json_models/analysis_report_model2/yandex_safebrowsing.dart
lib/json_models/analysis_report_model2/zero_cert.dart
lib/json_models/analysis_report_model2/zero_fox.dart
lib/json_models/analysis_report_model2/zero_x_si_f33d.dart
lib/models/arm.dart
lib/private/*
